<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is the configuration file for Hightail.</comment>
<entry key="pathFromWorkingDirToExec">%P.exe</entry>
<entry key="prependingCommand"/>
<entry key="workingDirectory">/home/mketa/NetBeansProjects/hightail/Hightail</entry>
<entry key="checkExistence">1</entry>
</properties>
