<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is the configuration file for Hightail.</comment>
<entry key="runEditor">true</entry>
<entry key="workingDirectory">/Users/piotrek/NetBeansProjects/hightail/Hightail</entry>
<entry key="compilerCommand">g++ "%1" -O2 -o "%2"</entry>
</properties>
